# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.opendb

*.db

*.ipch

*.log

*.tlog

*.idb

*.ilk

rayTracing/\.vs/rayTracing/v15/

rayTracing/rayTracing/Debug/

rayTracing/rayTracing/x64/Debug/

rayTracing/rayTracing/x64/Release/

*.iobj

*.ipdb

rayTracing/x64/Debug/rayTracing\.pdb

rayTracing/x64/Release/rayTracing\.pdb
